<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="calendar.mapper">

<select id="diagnosisGet" resultType="calendar.DiagnosisDTO">
select * from diagnosis where d_pet=#{pet} order by d_num
</select>

<insert id="calendarInsert">
insert into calendar (c_tel, c_num, c_year, c_month, c_date, c_content)
values(#{tel}, c_seq.nextval, #{year}, #{month}, #{date}, #{content})
</insert>

<select id="calenderGet">
select * from calendar where c_tel=#{tel} order by c_num"
</select>

<update id="calenderUpdate">
update calendar set c_content = #{content} where c_num = #{num} and c_year = #{year} and c_month = #{month} and c_date = #{date}
</update>

<delete id="calenderDelete">
delete from calendar where c_num = #{num} and c_year = #{year} and c_month = #{month} and c_date = #{date}
</delete>

</mapper>